.ms-bg-darkblue {
    background-color: #2c3e50;
}

.sm-bg-hero {
    background-color: #1abc9c;
}

.about {
    background-color: #1abc9c;
}

.footer-top {
    background-color: #3a546d;
}

.footer-bottom {
    background-color: #2c3e50;
}

.debug {
    border: 2px solid red;
}

.overlay-green {
    width: 416px;
    height: 100%;
    background-color: #1abc9c;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.fa-plus {
    font-size: 150px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.card-portfolio:hover .overlay-green {
    opacity: 0.7;
}

.card-portfolio:hover .fa-plus {
    opacity: 1;
}